.header{
    margin:0 inherit 0;
    color:#0094ff;
    text-align:center;
    padding:2.5em 2em 0;
}
#output{
    margin:1em 0 0 0;

    background-color:aqua;
}
h3.output{
    color:#0300ff;
    text-align:left;
    margin:1em 0 0;
}